<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--SEO-->
    <meta name="keywords" content="servicios, makeup social, makeup artistico, bodypainting, evento, contacto">
    <title>Servicios-Agustina Rodriguez</title>
    <meta name="description" content="A.R - Maaquilladora profesional. Buscas una persona talentesoa y creativa, Agustina puede ser la persona que estas buscando">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/60e02d16b9.js" crossorigin="anonymous"></script>
    <!--BOOSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Estilos propios-->
    <link rel ="stylesheet" href="../style.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
    <header id="inicio">  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!--logo-->
                <div class="logo me-auto me-lg-0">
                    <a href="../index.html"> A . R | artistic make-up |</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Sobre Mi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeria.html">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <div class="rrss">
                        <a href="https://www.instagram.com/agusmkup/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.tiktok.com/">
                            <i class="fab fa-tiktok"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header> <!--Fin header-->
    <main>
        <section class="serv">
            <h2>
                Servicios
            </h2>
            <article class="write">
                <p>
                    Se acerca el día de tu boda, te invitaron a un evento social, fiesta de disfraces o hallowen, <br> 
                    el maquillaje tiene que ser espectacular.
                </p>
                <button type="button" class="btn btn-outline-secondary">
                    <a href="contacto.html">Contactame</a>
                </button>
            </article>
            <article class="make">
                <div class="card">
                    <img src="../img/servicios/social.jpg" alt="make-up social">
                    <h3>
                        Make Up Social
                    </h3>
                    <p class="cardText">
                        Destaca <strong>tu belleza y facciones</strong>
                        logrando un equilibrio con el look y tu estilo. 
                    </p>
                    <h3>
                        <a href="../views/galeria.html" class="cardLink">
                            Ver mis trabajos
                        </a>
                    </h3>
                </div>
                <div class="card">
                    <img src="../img/servicios/body.jpg" alt="bodypainting">
                    <h3>
                            Body Painting
                    </h3>
                    <p class="cardText">
                        Es una forma de <strong>arte corporal</strong>
                        en donde las obras de arte o personajes son pintados 
                        en todo el cuerpo
                    </p>
                    <h3>
                        <a href="../views/galeria.html" class="cardLink">
                            Ver mis trabajos
                        </a>
                    </h3>
                </div>
                <div class="card">
                    <img src="../img/servicios/art.jpg" alt="make-up artístico">
                    <h3>
                            Make Up Artístico
                    </h3>
                    <p class="cardText">
                        El fin es <strong>embellecer, transformar o cambiar</strong>
                        el aspecto de cualquier parte del cuerpo.
                    </p>
                    <h3>
                        <a href="../views/galeria.html" class="cardLink">
                            Ver mis trabajos
                        </a>
                    </h3>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> 
                        &copy; 2021 - Desarrollado por Sonsoles Grondona Fernández
                    </h4>
                </div>
                <div class="footer-col">
                    <h4>
                        Follow Me
                    </h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/agusmkup/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.tiktok.com/">
                            <i class="fab fa-tiktok"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-col">
                    <a href="#inicio">
                        <i class="fas fa-arrow-alt-circle-up fa-lg">
                            Ir arriba
                        </i> 
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>